body {
    background-color: black;
    color: white;
}

.main-container {
    width: 100%;
    font-family: monospace;
    font-size: 20vw;
    margin: 0 auto;
}

.data-results {
    background-color: aliceblue;
}

.control-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
