body {
    background-color: black;
    color: white;
}


.main-container {
    width: 100%;
    font-family: monospace;
    font-size: 15vw;
    margin: 0 auto;
}

.data-results {
    background-color: aliceblue;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px;
}

.text-input-panel {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}

.coordinateInput {
    width: 8em;
    padding: 0.25em;
}
